
  .header__main-illustration{
    background-image: url('../../../images/two_again.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    align-self: center;
}